html,
body {
  margin: 0;
  height: 100%;
}

.logo {
  font-size: 30px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e6e4e4;
  padding: 1% 7% 1% 8%;
}

.nav-bar ul {
  display: flex;
  gap: 60px;
  list-style: none;
}

.nav-bar li a {
  text-decoration: none;
  color: #606061;
}

.nav-bar li a:hover {
  color: #c1c4c7;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  border-top: 1px solid #e6e4e4;
  background-color: #fff;
  color: #606061;
  padding: 1% 7% 1% 6%;
}

.footer-socials {
    display: flex;
    padding-left: 35%;
    gap: 20px;
}

.footer-socials-a {
    font-size: 1.3rem;
}

/* #EEEEEE */
