html,
body {
  margin: 0;
  height: 100%;
  font-family: "Wix Madefor Display", "Sans-serif";
  box-sizing: border-box;
}

a {
  text-decoration: none;
  padding: 0 10px;
}

h1 {
  font-size: 3.5rem;
  font-family: "Montserrat";
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 3% 0; */
  position: relative;
}

.card {
  max-width: 1000px;
  min-width: 400px;
  max-height: 800px;
  min-height: 400px;
  width: 100%;
  height: 100%;
  background-color: #9d9898;
  margin: 20px;
  border-radius: 30px;
}

.logo {
  font-size: 2rem;
  font-family: "lobster";
  font-weight: lighter;
  padding: 0% 6% 0% 7%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #efeded;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}

.nav-bar ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0% 6% 0% 7%;
}

.nav-bar li a {
  color: #8c8c8f;
  position: relative;
  font-size: 1rem;
}

.nav-bar li a::after {
  content: "";
  position: absolute;
  background-color: #100e0e;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.nav-bar li a:hover {
  color: #000000;
}

.nav-bar li a:hover::after {
  width: 100%;
}

.middle-container {
  background-color: #f9f9f9;
  position: relative;
  margin: 10vh auto;
  height: 100vh;
}

.intro {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
  background-color: #f9f9f9;
  padding: 7% 10%;
}

.intro-img {
  width: 100%;
  border-radius: 100%;
}

.intro-text {
  width: 70%;
  text-align: left;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  border-top: 1px solid #e6e4e4;
  background-color: #373737;
  color: #8c8c8f;
  padding: 1rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}

.footer-socials {
  display: flex;
  position: relative;
  max-width: 50px;
  padding-left: 35%;
  gap: 20px;
}

.footer-i {
  position: absolute;
  top: -15px;
  padding: 10px;
  color: #eee;
  font-size: 1.1rem;
}

.footer-i:hover {
  color: #8c8c8f;
  transition: 0.2s;
  scale: 1.2;
}
